@{
    ViewBag.Titulo = "Login";
}

@section scripts_header{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/pages/login.js")"></script>
}
<div> 
    <form id="frmLogin" action="@Url.Action("Validar", "Login")" method="post">
        <label>
            Usuario: <input type="text" name="correo" id="correo" placeholder="Ingrese correo" />
        </label>
        <label>
            Contraseña: <input type="password" name="contraseña" id="contraseña" placeholder="Ingrese contraseña" />
        </label>
        <input type="hidden" name="token" id="token" />
        <button>
            Ingresar
        </button>
        @if (TempData["error_message"] != null)
        {
            <label>@TempData["error_message"].ToString()</label>
        }
    </form>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=@(ViewData["keySiteCaptcha"].ToString())"></script>
<script>
    var key = '@ViewData["keySiteCaptcha"].ToString()';
</script>