
@{
    ViewBag.Titulo = "Index";
}

<h2>Index</h2>


    <div class="col-sm-12 col-md-6 col-lg-6"><a class="btn btn-success w-100 mb-2 go-select" href="@Url.Action("TablaMantenimiento", "Mantenimiento")" ><i class="far fa-hand-point-up px-1"></i>Ir al mantenimiento</a></div>


