
@{
    ViewBag.Titulo = "Mantenimiento Convocatoria";
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/pages/mantenimiento_convocatoria.js")"></script>
}

<div>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12 px-0">
                <input type="text" class="form-control" id="textoBusqueda" name="textoBusqueda" />
                <button id="btnConsultar">CONSULTAR</button>
                <button id="btnNuevo">NUEVO</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-0">
                <div class="table-responsive tabla-principal">
                    <table id="tblPrincipal" class="table table-hover">
                        <thead>
                            <tr class="bg-primary text-white">
                                <th class="text-center" scope="col"><span class="miColumna">N°&nbsp;<i class="fas fa-sort" id="ID_CONVOCATORIA"></i></span></th>
                                <th scope="col"><span class="miColumna">Convocatoria&nbsp;<i class="fas fa-sort-up" id="CONVOCATORIA"></i></span></th>
                                <th scope="col"><span class="miColumna">Descripción&nbsp;<i class="fas fa-sort-up" id="DESCRIPCION"></i></span></th>
                                <th scope="col"><span class="miColumna">Fecha inicio&nbsp;<i class="fas fa-sort-up" id="FECHA_INICIO"></i></span></th>
                                <th scope="col"><span class="miColumna">Fecha fin&nbsp;<i class="fas fa-sort-up" id="FECHA_FIN"></i></span></th>
                                <th scope="col"><span class="miColumna">Capacidad de postulantes&nbsp;<i class="fas fa-sort-up" id="LIMITE_POSTULANTE"></i></span></th>
                                <th class="text-center" scope="col" width="10%">Opciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="frm" autocomplete="off" style="display: none;">
    <div class="relacion-evaluador">
        <a class="btn mostrar-relacion" href="javascript:void(0)" >Relacion</a>
        <div class="postulante-evaluador d-none">
            @*<div><label class="get-postulante mr-3" id="1-1">Personal 1</label><select id="1"><option>-seleccione-</option></select></div>*@
        </div>
        <div class="postulante-evaluador-btn d-none">
            <button type="button" id="btnGuardarRelacion">GUARDAR</button>
            <button type="button" id="btnCerrarRelacion">CERRAR</button>
        </div>
    </div>
    <hr/>
    <div id="etapa-convocatoria">
        <label>
            Etapa actual de la convocatoria:
            <select id="cbo-etapa"></select>
        </label>        
    </div>
    <div>
        <label>
            Convocatoria:
            <input type="text" name="txtConvocatoria" id="txtConvocatoria" placeholder="Ingrese Convocatoria" />
        </label>
    </div>
    <div>
        <label>
            Descripción:
            <input type="text" name="txtDescripcion" id="txtDescripcion" placeholder="Ingrese Descripción" />
        </label>
    </div>
    @*<div>
        <label>
            Año:
            <select name="selIdAnno" id="selIdAnno"></select>
        </label>
    </div>*@
    <div>
        <label>
            Fecha inicio:
            <input type="date" name="fchFechaInicio" id="fchFechaInicio" />
        </label>
    </div>
    <div>
        <label>
            Fecha fin:
            <input type="date" name="fchFechaFin" id="fchFechaFin" />
        </label>
    </div>
    <div>
        <label>
            Capacidad de postlantes:
            <input type="text" name="txtLimite" id="txtLimite" placeholder="Ingrese Convocatoria" />
        </label>
    </div>
    <div>
        <label for="mlt-energetico">Requerimiento</label>
        <div>
            <div id="list-req">
                @*<div>
                        <div>
                            <ul style="list-style: none;">
                                <li>
                                    <input type="checkbox" id="chk-energetico-02">
                                    <label for="chk-energetico-02">Electricidad&nbsp;</label>
                                </li>
                            </ul>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
    <div>
        <label for="mlt-energetico">Criterio</label>
        <div>
            <div id="list-criterio">
            </div>
        </div>
    </div>
    <div>
        <label for="mlt-energetico">Evaluador</label>
        <div>
            <div id="list-evaluador">
            </div>
        </div>
    </div>
    <div>
        <label for="mlt-energetico">Etapas Convocatoria </label>
        <div>
            <div >
                <div>
                    <div>
                        <table id="tbl-etapa">
                            <thead>
                                <tr>
                                    <th>Etapa</th>
                                    <th>Proceso</th>
                                    <th>Días</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="button" id="btnGuardar">GUARDAR</button>
        <button type="button" id="btnCerrar">CERRAR</button>
    </div>
</form>


