@{
    ViewBag.Titulo = "Mantenimiento Usuario";
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/pages/mantenimiento_usuario.js")"></script>
}

<div>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12 px-0">
                <input type="text" class="form-control" id="textoBusqueda" name="textoBusqueda" />
                <button id="btnConsultar">CONSULTAR</button>
                <button id="btnNuevo">NUEVO</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 px-0">
                <div class="table-responsive tabla-principal">
                    <table id="tblUsuario" class="table table-hover">
                        <thead>
                            <tr class="bg-primary text-white">
                                <th class="text-center" scope="col"><span class="miColumna">N°&nbsp;<i class="fas fa-sort" id="ID_USUARIO"></i></span></th>
                                <th scope="col"><span class="miColumna">Nombres&nbsp;<i class="fas fa-sort-up" id="NOMBRES"></i></span></th>
                                <th scope="col"><span class="miColumna">Apellidos&nbsp;<i class="fas fa-sort-up" id="APELLIDOS"></i></span></th>
                                <th scope="col"><span class="miColumna">Correo&nbsp;<i class="fas fa-sort-up" id="CORREO"></i></span></th>
                                <th scope="col"><span class="miColumna">Teléfono&nbsp;<i class="fas fa-sort-up" id="TELEFONO"></i></span></th>
                                <th scope="col"><span class="miColumna">Anexo&nbsp;<i class="fas fa-sort-up" id="ANEXO"></i></span></th>
                                <th scope="col"><span class="miColumna">Celular&nbsp;<i class="fas fa-sort-up" id="CELULAR"></i></span></th>
                                <th scope="col"><span class="miColumna">RUC&nbsp;<i class="fas fa-sort-up" id="RUC_INSTITUCION"></i></span></th>
                                <th scope="col"><span class="miColumna">Institución&nbsp;<i class="fas fa-sort-up" id="RAZON_SOCIAL_INSTITUCION"></i></span></th>
                                <th scope="col"><span class="miColumna">Rol&nbsp;<i class="fas fa-sort-up" id="NOMBRE_ROL"></i></span></th>
                                <th class="text-center" scope="col" width="10%">Opciones</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="frmUsuario" autocomplete="off" style="display: none;">
    <div>
        <label>
            Nombres:
            <input type="text" name="txtNombres" id="txtNombres" placeholder="Ingrese nombres" />
        </label>
        <label>
            Apellidos:
            <input type="text" name="txtApellidos" id="txtApellidos" placeholder="Ingrese apellidos" />
        </label>
    </div>
    <div>
        <label>
            Correo:
            <input type="text" name="txtCorreo" id="txtCorreo" placeholder="Ingrese correo" />
        </label>
        <label>
            Teléfono:
            <input type="text" name="txtTelefono" id="txtTelefono" placeholder="Ingrese teléfono" />
        </label>
    </div>
    <div>
        <label>
            Anexo:
            <input type="text" name="txtAnexo" id="txtAnexo" placeholder="Ingrese anexo" />
        </label>
        <label>
            Celular:
            <input type="text" name="txtCelular" id="txtCelular" placeholder="Ingrese celular" />
        </label>
    </div>
    <div>
        <label>
            Ruc Institución:
            <input type="text" name="txtRucInstitucion" id="txtRucInstitucion" placeholder="Ingrese ruc institución" />
        </label>
        <label>
            Razón Social Institución:
            <input type="text" name="txtRazonSocialInstitucion" id="txtRazonSocialInstitucion" placeholder="Ingrese razón social institución" readonly />
        </label>
    </div>
    <div>
        <label>
            Rol:
            <select name="selIdRol" id="selIdRol"></select>
        </label>
    </div>
    <div>
        <label>
            Contraseña:
            <input type="password" name="txtContraseña" id="txtContraseña" placeholder="Ingrese contraseña" />
        </label>
    </div>
    <div>
        <button type="button" id="btnGuardar">GUARDAR</button>
        <button type="button" id="btnCerrar">CERRAR</button>
    </div>
</form>