<div class="container-fluid menu-top">
    <div class="container">
        <header class="navbar navbar-expand py-1 px-0">
            <a class="btn btn-sm btn-outline-sres-azul d-none d-lg-block animated slideInDown" href="http://www.minem.gob.pe/_detalle.php?idSector=12&amp;idTitular=3011&amp;idMenu=sub3001&amp;idCateg=716" target="_blank" role="button">QUIENES SOMOS</a><a class="btn btn-sm btn-outline-sres-azul ml-2 d-none d-lg-block animated slideInDown" href="http://www.minem.gob.pe/_contactos.php" target="_blank" role="button">CONTACTO</a>
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item align-self-center mr-2"><a class="nav-link p-0 animated fadeIn" href="https://www.gob.pe/minem" target="_blank"><img src="@Url.Content("~/Assets/images/logo-minem.jpg")" height="36"></a></li>
                <li class="nav-item align-self-center mr-2"><a class="nav-link p-0 animated fadeIn" href="https://www.thegef.org/" target="_blank"><img src="@Url.Content("~/Assets/images/logo_gef.svg")" height="39"></a></li>
                <li class="nav-item align-self-center mr-2"><a class="nav-link p-0 animated fadeIn" href="https://www.pe.undp.org/" target="_blank"><img src="@Url.Content("~/Assets/images/logo_pnud.svg")" height="42"></a></li>
                <li class="nav-item align-self-center mr-0 ml-3"><a class="btn btn-sm btn-sres-azul animated slideInRight" href="@Url.Action("Index", "Login")" role="button">INICIAR SESIÓN</a></li>
            </ul>
        </header>
    </div>
</div>
