<div class="container-fluid menu-bottom">
    <div class="container">
        <nav class="navbar navbar-expand-lg px-0">
            <a class="navbar-brand mr-md-auto animated slideInLeft" href="@Url.Content("~")"><img src="@Url.Content("~/Assets/images/sres-logo.png")" height="110"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item align-self-center"><a class="nav-link wow slideInUp activo" href="#" data-wow-delay=".2s">INICIO</a></li>
                    <li class="nav-item align-self-center"><a class="nav-link wow slideInUp" href="#" data-wow-delay=".3s">PARTICIPANTES</a></li>
                    <li class="nav-item align-self-center"><a class="nav-link wow slideInUp" href="#" data-wow-delay=".4s">CONVOCATORIAS</a></li>
                    <li class="nav-item align-self-center"><a class="nav-link wow slideInUp" href="#" data-wow-delay=".5s">RECONOCIMIENTOS</a></li>
                    <li class="nav-item align-self-center"><a class="nav-link wow slideInUp" href="#" data-wow-delay=".6s">ESTADÍSTICAS</a></li>
                </ul><a class="btn btn-sm btn-sres-verde ml-3 mt-3 mt-lg-0 float-right float-lg-none animated slideInRight" href="@Url.Action("Registrarme", "Login")" role="button">REGISTRARSE</a>
            </div>
        </nav>
    </div>
</div>