@if (ViewBag.SRESDescription)
{
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 my-5">
                    <p class="text-justify estilo-01 text-sres-gris wow fadeIn">El Sello de Reconocimiento de Energía sostenible <b>(SRES)</b> es un distintivo otorgada por el <b>Ministerio de Energía y Minas del Perú</b> a través de su órgano directivo la <b>Dirección General de Eficiencia Energética</b>, a aquellas entidades que demuestren un alto compromiso y liderazgo en el uso eficiente y responsable de la energía.</p>
                    <div class="rayado wow fadeIn"></div>
                </div>
            </div>
        </div>
    </div>
}
