@{
    ViewBag.Titulo = "Convocatoria Criterio";
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/pages/convocatoria_criterioingresar.js")"></script>
}


<div>
    <button id="btnConsultar">CONSULTAR</button>
</div>
<div id="cabecera">
    @*<table>
            <thead id="cabecera">

            </thead>
            <tbody>

            </tbody>
        </table>*@
</div>
<div>
    <button id="btnGuardar">Guardar</button>
</div>
