
@{
    ViewBag.Titulo = "Index";
}

@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/pages/convocatoria.js")"></script>
}


<div>
    <div>
        <label>
            N° Expediente: <input type="text" name="txtNroInformeBusqueda" id="txtNroInformeBusqueda" />
        </label>
        <label>
            Descripción : <input type="text" name="txtNombreBusqueda" id="txtNombreBusqueda" />
        </label>
        <label>
            Fecha Desde: <input type="date" name="txtFechaDesdeBusqueda" id="txtFechaDesdeBusqueda" />
        </label>
        <label>
            Fecha Hasta: <input type="date" name="txtFechaHastaBusqueda" id="txtFechaHastaBusqueda" />
        </label>
        <button id="btnConsultar">CONSULTAR</button>
    </div>
</div>
<div>
    <table id="tblConvocatoria">
        <thead>
            <tr>
                <th>Expediente</th>
                <th>Periodo</th>
                <th>Descripción Convocatoria</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Vencimiento</th>
                <th>Estado</th>
                <th>Participar</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>