@{
    ViewBag.Titulo = "Preguntas frecuentes";
    ViewBag.SRESDescription = false;
    ViewBag.Header = new Dictionary<string, object>
    {
        ["Imagen"] = "~/Assets/images/faq.png",
        ["Titulo"] = "PREGUNTAS FRECUENTES"
    };
}
@section scripts_footer{
    <script src="@Url.Content("~/Assets/js/pages/preguntas_frecuentes.js")"></script>
}
<div class="container-fluid my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto1" aria-expanded="true" aria-controls="aspecto1"><i class="fas fa-question-circle mr-1"></i>¿QUIÉNES PUEDEN POSTULAR AL RECONOCIMIENTO DE ENERGÍA EFICIENTE Y SOSTENIBLE?</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp collapse show" id="aspecto1">Pueden postular al Reconocimiento de Energía Eficiente y Sostenible todas las entidades y empresas del Estado, así como en las empresas privadas a nivel nacional, que hayan realizado medidas de eficiencia energética, y hacer que las mismas reduzcan GEI aportando a las NDC. Reducir las emisiones de Gases de Efecto Invernadero (GEI) para mitigar los efectos del cambio climático es responsabilidad de todas y todos los peruanos.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto2" aria-expanded="true" aria-controls="aspecto2"><i class="fas fa-question-circle mr-1"></i>¿CUÁNTO TIEMPO DE VIGENCIA TIENE EL RECONOCIMIENTO?</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp collapse" id="aspecto2">La obtención del Reconocimiento de Energía Eficiente y Sostenible entrará en vigencia al día siguiente de la fecha de otorgamiento del mismo. Su validez será de dos (02) años, tiempo que permitirá tanto a las entidades públicas y privadas implementar nuevas medidas de energía sostenible con el fin de mejorar o mantenerse en su categoría. Por ello, la apertura de nuevas convocatorias para postular al REES será cada dos (02) años.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto3" aria-expanded="true" aria-controls="aspecto3"><i class="fas fa-question-circle mr-1"></i>UNA VEZ FINALIZADO EL PERIODO DE VIGENCIA, ¿CÓMO SE DEBE RENOVAR EL RECONOCIMIENTO?</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp collapse" id="aspecto3">En el caso que una entidad acreedora de un Reconocimiento de Energía Eficiente y Sostenible desea volver a postular para no perder la vigencia de su distinción, ésta tendrá que presentar la implementación de nuevas medidas de energías sostenibles. En caso se trate de una medida de energía sostenible anterior que está relacionada a la NDC, debe sustentar la continuidad de aporte a la reducción de emisiones, siendo afectos al criterio de ahorro de energía, en el cual el postulante podrá escoger entre ahorro de energía eléctrica y/o ahorro de energía térmica, en ese sentido, se solicitará la actualización de la información brindada </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto4" aria-expanded="true" aria-controls="aspecto4"><i class="fas fa-question-circle mr-1"></i>UNA VEZ OBTENIDO EL RECONOCIMIENTO, ¿EXISTEN CIRCUNSTANCIAS PARA PERDER SU VIGENCIA?</h2>
                <div class="wow slideInUp collapse" id="aspecto4">
                    <p class="text-justify estilo-01 text-sres-gris">El Ministerio de Energía y Minas podrá retirar, suspender o prohibir el uso del Reconocimiento durante su vigencia a las entidades que hagan uso indebido del mismo, ante las siguientes circunstancias:</p>
                    <ul>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Por falsificación del Reconocimiento, por lo que la entidad será sancionada con la imposibilidad de postular durante un periodo de seis (06) años, además de las sanciones legales establecidas en las leyes peruanas.</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Por alterar el diseño del Reconocimiento, de encontrar un diseño diferente al recibido del Minem, se considerará como competencia desleal y se retirará inmediatamente los privilegios de ganador.</li>
                        <li class="estilo-01 text-sres-gris wow slideInUp">Por encontrar que no se cumple con los criterios exigidos. El Minem, a través de la DGEE, realiza la visita técnica a cualquier entidad pública y/o privada a fin de monitorear y validar la información que le permitieron conseguir la categoría del Reconocimiento, en caso no cumpla con los requerimientos, éste será revocado, prohibiendo su utilización como parte de la difusión de la entidad.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto5" aria-expanded="true" aria-controls="aspecto5"><i class="fas fa-question-circle mr-1"></i>¿A dónde se deben dirigir las instituciones interesadas en Postular?</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp collapse" id="aspecto5">Las Instituciones interesadas deberán dirigirse a la sección Convocatorias, de la Plataforma del Reconocimiento de Energía Eficiente y Sostenible, donde podrán registrarse cumpliendo criterios mínimos respecto al seguimiento de normativas vigentes de la constitución de una empresa.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto6" aria-expanded="true" aria-controls="aspecto6"><i class="fas fa-question-circle mr-1"></i>¿Cómo resuelvo mis consultas sobre la postulación al REES?</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp collapse" id="aspecto6">Si se tiene consultas y observaciones sobre el contenido en las bases deberán comunicarse al correo electrónico: <a href="javascript:void(0)">dgee1@minem.gob.pe</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto7" aria-expanded="true" aria-controls="aspecto7"><i class="fas fa-question-circle mr-1"></i>¿Cuántas veces puede postular mi entidad?</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp collapse" id="aspecto7">Se puede postular siempre que la entidad tenga medidas de ahorro energético y reducción de emisiones implementadas. Si practica un ciclo de mejora continua, podrá presentar nuevas medidas con las cuales podrá postular para obtener nuevo reconocimiento, subir de categoría en su reconocimiento o mantenerse con su reconocimiento.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto8" aria-expanded="true" aria-controls="aspecto8"><i class="fas fa-question-circle mr-1"></i>¿Cómo y quién realizará la evaluación de la postulación?</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp collapse" id="aspecto8">La evaluación estará a cargo de profesionales expertos en temas de energía sostenible de la Dirección General de Eficiencia Energética del Minem, los cuales evaluarán los documentos de cada postulante para determinar el cumplimiento de cada uno de los requisitos solicitados, tanto de manera general, como especifica (por medida).</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto9" aria-expanded="true" aria-controls="aspecto9"><i class="fas fa-question-circle mr-1"></i>UNA VEZ REALIZADA LA POSTULACIÓN ¿CUÁNDO RECIBIRÁ MI ENTIDAD EL RECONOCIMIENTO?</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp collapse" id="aspecto9">El Reconocimiento de Energía Eficiente y Sostenible se recibirá en la ceremonia de premiación bianual, a realizarse el 05 de marzo de cada dos años, de parte del Minem. Las convocatorias se abren cada dos años, y se entregan en la ceremonia realizada en el marco de la celebración del Día Internacional de la Eficiencia Energética.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto10" aria-expanded="true" aria-controls="aspecto10"><i class="fas fa-question-circle mr-1"></i>¿QUÉ VALOR AGREGA EL REES MARCA DE MI ENTIDAD?</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp collapse" id="aspecto10">El Reconocimiento de Energía Eficiente y Sostenible agrega a valor a la marca de su entidad, pues es símbolo de sostenibilidad, el cual involucra un gran compromiso energético y ambiental desde cada institución hacia a su País, el cual se encuentra enmarcado dentro de los compromisos internacionales que tiene el Perú con respecto a la reducción de emisiones a nivel mundial.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto11" aria-expanded="true" aria-controls="aspecto11"><i class="fas fa-question-circle mr-1"></i>SI EL REES ES OTORGADO A MI ENTIDAD ¿CÓMO SERÁ ANUNCIADA LA ENTREGA?</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp collapse" id="aspecto11">Una vez el proceso de evaluación finalice como aprobado, un profesional del Minem se contactará con el o la representante de la entidad postulante para invitarlo a la ceremonia de premiación. Los resultados serán publicados a través de la web.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto12" aria-expanded="true" aria-controls="aspecto12"><i class="fas fa-question-circle mr-1"></i>¿HAY QUE REALIZAR ALGÚN PAGO O TARIFA PARA SOLICITAR LA POSTULACIÓN?</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp collapse" id="aspecto12">El proceso de postulación al Reconocimiento de Energía Eficiente y Sostenible es gratuito para la entidad que lo solicita.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto13" aria-expanded="true" aria-controls="aspecto13"><i class="fas fa-question-circle mr-1"></i>¿CÓMO ACCEDO AL VIDEO O DOCUMENTO INSTRUCTIVO PARA POSTULAR AL REES?</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp collapse" id="aspecto13">En la página principal de la plataforma se encontrará el video instructivo para postular.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto14" aria-expanded="true" aria-controls="aspecto14"><i class="fas fa-question-circle mr-1"></i>¿HAY UN LÍMITE EN LA CANTIDAD DE RECONOCIMIENTOS QUE SE ENTREGA CADA AÑO?</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp collapse" id="aspecto14">No hay límite, cada entidad o empresa, pública o privada que cumpla con los requisitos señalados, recibirá el Reconocimiento correspondiente a su categoría.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto15" aria-expanded="true" aria-controls="aspecto15"><i class="fas fa-question-circle mr-1"></i>¿Qué es la mitigación del cambio climático?</h2>
                <p class="text-justify estilo-01 text-sres-gris wow slideInUp collapse" id="aspecto15">El término “mitigación” se refiere a las acciones de mitigación para reducir/prevenir las emisiones de gases de efecto invernadero (GEI), o para potenciar su eliminación de la atmósfera mediante sumideros.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="p-2 mb-4 estilo-04 text-sres-azul rayado wow slideInUp cursor-pointer" data-toggle="collapse" href="#aspecto16" aria-expanded="true" aria-controls="aspecto16"><i class="fas fa-question-circle mr-1"></i>Definiciones</h2>
                <ul class="wow slideInUp collapse" id="aspecto16">
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Acuerdo de parís:</b> Es un acuerdo dentro del marco de la Convención de las Naciones Unidas sobre Cambio Climático que establece medidas de reducción de las emisiones de Gases de Efecto Invernadero (GEI), a través de la mitigación, adaptación y resiliencia de los ecosistemas a efectos del calentamiento global.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Auditoría energética:</b> Revisión detallada del desempeño de una organización, de un proceso o de ambos. Se basa generalmente en una apropiada medición y observación del desempeño energético (eléctrico, gas natural, petróleo y sus derivados, etc.)</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Cierre de inscripciones:</b> Fecha en la que concluye la etapa de recepción de postulaciones, la cual se informará en el sitio web: www.minem.gob.pe/index2.php</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Cogeneración:</b> Es un sistema de alta eficiencia energética, en el cual se obtiene simultáneamente energía eléctrica y energía térmica a partir de la energía primaria.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Desempeño energético:</b> Resultados medibles de la implementación de tecnologías y sistemas de gestión que realiza una empresa en relación a la eficiencia energética, al uso y al consumo de la energía.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Eficiencia energética:</b> Conjunto de acciones que permiten optimizar la relación entre la energía consumida, y los productos y servicios finales obtenidos. Esto se puede lograr mediante la implementación de diversas iniciativas e inversiones a nivel tecnológico, y de gestión y hábitos culturales en la comunidad. En el caso de este reconocimiento, también se consideran medidas que incluya generación de energía eléctrica a partir de fuentes recursos energéticos renovables.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Electromovilidad:</b> Hace referencia al uso de vehículos eléctricos siendo entendido como aquellos que hacen uso de combustible y/o energía alternativa por uno o más motores eléctricos.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Energía primaria:</b> Es aquella energía disponible en la naturaleza, antes de ser convertida o transformada.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Energía sostenible:</b> Se define como aquella energía capaz de satisfacer las necesidades presentes sin comprometer los recursos y capacidades de las futuras generaciones.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Entidad o empresa postulante:</b> Organización, institución o industria, perteneciente a los sectores industrial, comercial y servicios, de transporte y/o pública, dedicada a actividades económicas y/o comerciales, dirigidas a satisfacerlas necesidades de bienes y/o servicios de los demandantes mediante su participación en el mercado.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Encargado del sistema de gestión de la energía:</b> Persona(s) destinada(s) al seguimiento, análisis, control y desarrollo de las actividades que requiere el sistema de gestión.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Etiquetado de eficiencia energética:</b> Información respecto del consumo de energía y el rango de eficiencia energética de los equipos energéticos, la cual debe estar contenida en una etiqueta, la misma que debe ser ubicada sobre el envase, empaque, publicidad o cuerpo de los equipos energéticos en un lugar visible para el consumidor. Puede estar impresa o adherida al artefacto y no debe ser removida del producto hasta después de que éste haya sido adquirido por el consumidor.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Evaluador:</b> Persona natural o jurídica que cumple con los requisitos establecidos en el numeral 6, siendo el encargado de la evaluación de antecedentes, revisión de documentos asociados a la postulación y verificación de las medidas implementadas y declaradas por la empresa postulante.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Huella de carbono:</b> Es un indicador ambiental que pretende reflejar la totalidad de gases de efecto invernadero (GEI) emitidos por efecto directo o indirecto de un individuo, organización, evento o producto. En este documento se hace mención a la Huella de carbono de una organización, en el cual se analizan las emisiones de GEI de una organización a lo largo de un año o periodo determinado, generando un inventario de las mismas. Los estándares más utilizados son: GHG Protocol e ISO 14064-1.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Huella de carbono perú:</b> La Huella de Carbono Perú es una herramienta innovadora y de acción climática del Estado peruano que permite reconocer oficialmente el esfuerzo de las organizaciones públicas y privadas en reducir sus emisiones de Gases de Efecto Invernadero (GEI), a través de la medición de sus emisiones y el reporte de las acciones para reducirlas y/o neutralizarlas.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Horas punta y horas fuera de punta:</b> Considerado como hora punta desde las 18:00 h hasta las 23:00h y se considera como hora fuera de punta desde las 23:00h hasta las 18:00h.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Indicadores de desempeño energético:</b> Parámetro de medición del desempeño energético de una entidad (y definido por ésta), cuyo seguimiento se establece con cierta periodicidad.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Inversiones:</b> Monto total destinado al desarrollo de una medida de eficiencia energética (está asociada a la adquisición, implementación de tecnologías o sistemas de gestión, horas hombres, etc.).</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">ISO 50001:</b> Norma internacional que tiene como objetivo mantener y mejorar un sistema de gestión de la energía en una empresa, cuyo propósito es el de permitirle una mejora continua de la eficiencia energética, la seguridad energética, la utilización de energía y consumo energético con un enfoque sistemático.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Línea base:</b> El objetivo de un estudio de línea de base es proporcionar una base de información contra la cual monitorear y evaluar el progreso y eficacia de una actividad durante la implementación de la misma y después de que se haya completado.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Medida de eficiencia energética implementada:</b> Acción que genera una reducción cuantificable en el consumo energético de una empresa, cuya medición de impacto en consumo energético se realiza en un periodo de tiempo definido.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Medidas de mitigación:</b> Las medidas de mitigación ambiental, constituyen el conjunto de acciones de prevención, control, atenuación, restauración y compensación de impactos ambientales negativos que deben acompañar el desarrollo de un Proyecto, a fin de asegurar el uso sostenible de los recursos naturales involucrados y la protección del medio ambiente.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Ministerio de energía y minas:</b> Para efectos del presente documento, se entenderá como el Ente mandante del Sello de Reconocimiento de Energía Sostenible o impulsador de la iniciativa.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Postulación:</b> Acto en virtud del cual, la empresa hace explícita su voluntad de participar en la obtención del Sello de Reconocimiento de Energía Sostenible.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Postulación admisible:</b> Postulación que cumple con los requisitos establecidos en los criterios de evaluación.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Reconocimiento:</b> Se denominara como reconocimiento a la distinción del Sello de Reconocimiento de Energía Sostenible, dependiendo de sus categorías.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Recursos energéticos renovables:</b> También se consideran recursos renovables aquellos que no se acaban con su uso y, por tanto, se pueden considerar inagotables. Por ejemplo, el sol y el viento son dos ejemplos de este tipo de recurso renovable e inagotable.</li>
                    <li class="estilo-01 text-sres-gris wow slideInUp text-justify"><b class="text-sres-azul">Reducción o disminución de consumo energético:</b> Variación en el consumo de energía, medible en el tiempo y asociado a un indicador de desempeño energético, que permite demostrar la medida de eficiencia energética implementada en una empresa.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
