<appSettings>
  <!--CLAVES DE RECAPCHA V 3.0-->
  <add key="ReCAPTCHA_Site_Key" value="6LcKud4UAAAAAIWfqQyeI8l83jWB4WlvDkpWMWKC"/>
  <add key="ReCAPTCHA_Secret_Key" value="6LcKud4UAAAAAMyYWBZlK39CrZ3TTwtZ4l9tVikS"/>
  
  <!--NOMBRE CONEXION-->
  <add key="NombreConexion" value="localJuanCarlos"/>

  <!--USUARIOS DE BD-->
  <add key="UserBD" value="SRES" />
  <add key="UserBDMRV" value="MRV" />
  
  <!--AUTENTICACION-->
  <add key="Auth_Enabled" value="true"/>
  <add key="Auth_Usuario" value="carlos@grupo-zuniga.com"/>
  <add key="Auth_Contraseña" value="Flavio2019"/>
</appSettings>