<appSettings>
  <!--CLAVES DE RECAPCHA V 3.0-->
  <add key="ReCAPTCHA_Site_Key" value="6LcKud4UAAAAAIWfqQyeI8l83jWB4WlvDkpWMWKC"/>
  <add key="ReCAPTCHA_Secret_Key" value="6LcKud4UAAAAAMyYWBZlK39CrZ3TTwtZ4l9tVikS"/>
  
  <!--NOMBRE CONEXION-->
  <add key="NombreConexion" value="SISSELLO"/>
  <add key="NombreConexionMRV" value="MRV"/>

  <!--USUARIOS DE BD-->
  <add key="UserBD" value="SISSELLO" />
  <add key="UserBDMRV" value="MRVMM" />
  
  <!--AUTENTICACION-->
  <add key="Auth_Enabled" value="false"/>
  <!--<add key="Auth_Usuario" value="RONALD.JSB@HOTMAIL.COM"/>
  <add key="Auth_Contraseña" value="abcDEF123"/>-->
  <add key="Auth_Usuario" value="carlos@grupo-zuniga.com"/>
  <add key="Auth_Contraseña" value="Flavio2019"/>
  
  <!--PATH-->
  <add key="Path.Inscripcion.Requerimiento" value="Files\PostulantesD\{0}\Inscripciones\{1}\Requerimiento"/>
  <add key="Path.Inscripcion.Documento" value="Files\Postulantes\{0}\Inscripciones\{1}\Criterio\{2}\caso\{3}\Documento"/>
  <add key="Path.Criterio" value="Files\Criterios\{0}\Imagen"/>
  <add key="Path.MedidaMitigacion" value="Files\MedidaMitigacion\{0}\Imagen"/>
  <add key="Path.Insignia" value="Files\Insignias\{0}\Imagen"/>
  <add key="Path.Reconocimiento" value="Files\Reconocimientos\{0}\Imagen"/>
  <add key="Path.Institucion" value="Files\Institucion\{0}\Logo"/>

  <!--TRAZABILIDAD-->
  <add key="Trazabilidad.Convocatoria.RegistrarInscripcion" value="{INSTITUCION.RAZON_SOCIAL} se inscribió a la convocatoria" />
  <add key="Trazabilidad.Convocatoria.EvaluarInscripcion" value="Se realizó la evaluación de los requisitos" />
  <add key="Trazabilidad.Convocatoria.DocumentosSolicitados" value="Se realizó la actualización de los requisitos" />
  <add key="Trazabilidad.Convocatoria.FiltradoParticipantes" value="Se aprobó los requisitos" />
  <add key="Trazabilidad.Convocatoria.AnulacionParticipante" value="Se anuló la participación de la entidad" />
  <add key="Trazabilidad.Convocatoria.RegistrarCriterio" value="Se guardó la información del criterio {CRITERIO.NOMBRE}" />
  <add key="Trazabilidad.Convocatoria.RegistrarCriterios" value="Se enviaron a revisión {INGRESADOS} de {TOTAL} criterios " />
  <add key="Trazabilidad.Convocatoria.Coordinacion" value="Se comunicó a los participantes sobre el inicio de la revisión de los criterios" />
  <add key="Trazabilidad.Convocatoria.EvaluarCriterio" value="Se realizó la evaluación del criterio {CRITERIO.NOMBRE}" />
  <add key="Trazabilidad.Convocatoria.EvaluarCriterios" value="Se evaluaron los criterios enviados a revisión" />
  <add key="Trazabilidad.Convocatoria.InformePreliminar" value="Se realizó el informe preliminar" />
  <add key="Trazabilidad.Convocatoria.InformeFinal" value="Se realizó el informe final" />  
  <add key="Trazabilidad.Convocatoria.ComunicacionResultados" value="Se realizó la comunicación de resultados" /> 
  <add key="Trazabilidad.Convocatoria.Final" value="La convocatoria ha finalizado" />

  <!--CRITERIOS-->
  <add key="Criterios.Descripcion" value="Al momento existen ocho criterios de evaluación para alcanzar una categoría y estrellas, debe ingresar la información de cada criterio para lograr este reconocimiento"/>
  <add key="Criterios.DescripcionEva" value="Al momento existen ocho criterios de evaluación para alcanzar una categoría y estrellas"/>

  <!--DETALLES CONVOCATORIA-->
  <add key="Detalle.Evaluador" value="Lorém ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eligendi beatae nesciunt hic reiciendis delectus dolorem molestias ducimus quis recusandae tempore labore et, perferendis, adipisci cumque temporibus id eum aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eligendi beatae nesciunt hic reiciendis delectus dolorem molestias ducimus quis recusandae tempore labore et, perferendis, adipisci cumque temporibus id eum aperiam."/>
  <add key="Detalle.Etapa" value="Se ha considerado el siguiente cronograma para el Reconocimiento de energía eficiente y sostenible:"/>
  <add key="Detalle.Criterio" value="Al momento existen ocho criterios de evaluación para alcanzar una categoría y estrellas, a continuación se pasa a detallar:"/>
  <add key="Detalle.Insignia" value="El REES cuenta con tres categorías Oro, Plata y Bronce, siendo Oro la categoría máxima que requiere de mayor puntaje, sin embargo es la categoría más distintiva del Reconocimiento de energía eficiente y sostenible."/>


  <!--FACTOR RENDIMIENTO-->
  <add key="FactorR" value="F9" />

  <!--FILE-->
  <add key="File.MaxBytes" value="4194304"/>

  <!--MAILING-->
  <add key="Mailing.TemplateDirectory" value="Mailing"/>
  <add key="Mailing.ImagesDirectory" value="Assets/images"/>
  <add key="Mailing.Mail.From.DisplayName" value="REES Notificaciones"/>
  <add key="Mailing.Mail.From.Address" value="notificacioncorreo@hotmail.com"/>
  <add key="Mailing.Smtp.Host" value="smtp.live.com"/>
  <add key="Mailing.Smtp.Port" value="587"/>
  <add key="Mailing.Smtp.Credentials.UserName" value="notificacioncorreo@hotmail.com"/>
  <add key="Mailing.Smtp.Credentials.Password" value="abcDEF123*"/>
  <add key="Mailing.Smtp.EnableSsl" value="true"/>
  <add key="Mailing.Smtp.UseDefaultCredentials" value="false"/>

  <!--SERVER-->
  <add key="Server" value="http://localhost:55371/"/>
  <add key="Frecuente" value="http://localhost:55371/Participantes/Preguntas-frecuentes/"/>
  <add key="ServerFisico" value="C:\Users\Pc\Desktop\GIT_SRES_ORIGINAL\back-end\sres\sres.app\"/>

  <!--ENLACES-->
  <add key="Registro.MRV" value="http://sismrv.minem.gob.pe/Home/registro"/>
  <add key="Inicio.MRV" value="http://sismrv.minem.gob.pe/Home/index"/>
  
  <!-- Bandejas -->
  <!-- Postulantes -->
  <add key="Bandeja.Postulante.CantidadUltimosReconocimientos" value="4"/>
</appSettings>