<appSettings>
  <!--CLAVES DE RECAPCHA V 3.0-->
  <add key="ReCAPTCHA_Site_Key" value="6LcKud4UAAAAAIWfqQyeI8l83jWB4WlvDkpWMWKC"/>
  <add key="ReCAPTCHA_Secret_Key" value="6LcKud4UAAAAAMyYWBZlK39CrZ3TTwtZ4l9tVikS"/>
  
  <!--NOMBRE CONEXION-->
  <add key="NombreConexion" value="localRonald"/>
  <add key="NombreConexionMRV" value="localMRVRonald"/>

  <!--USUARIOS DE BD-->
  <add key="UserBD" value="SISSELLO" />
  <add key="UserBDMRV" value="MRVMM" />
  
  <!--AUTENTICACION-->
  <add key="Auth_Enabled" value="false"/>
  <!--<add key="Auth_Usuario" value="RONALD.JSB@HOTMAIL.COM"/>
  <add key="Auth_Contraseña" value="abcDEF123"/>-->
  <add key="Auth_Usuario" value="carlos@grupo-zuniga.com"/>
  <add key="Auth_Contraseña" value="Flavio2019"/>
  
  <!--PATH-->
  <add key="Path.Inscripcion.Requerimiento" value="Files\Postulantes\{0}\Inscripciones\{1}\Requerimiento"/>
  <add key="Path.Inscripcion.Documento" value="Files\Postulantes\{0}\Inscripciones\{1}\Criterio\{2}\caso\{3}\Documento"/>
  <add key="Path.Criterio" value="Files\Criterios\{0}\Imagen"/>
  <add key="Path.Institucion" value="Files\Institucion\{0}\Logo"/>

    <!--FORMATOS-->
  <add key="Trazabilidad.Convocatoria.RegistrarInscripcion" value="La institución {INSTITUCION.RAZON_SOCIAL} se inscribió a la convocatoria" />
  
  <!--FACTOR RENDIMIENTO-->
  <add key="FactorR" value="F9" />

  <!--FILE-->
  <add key="File.MaxBytes" value="4194304"/>

  <!--MAILING-->
  <add key="Mailing.TemplateDirectory" value="Mailing"/>
  <add key="Mailing.ImagesDirectory" value="Assets/images"/>
  <add key="Mailing.Mail.From.DisplayName" value="SRES Notificaciones"/>
  <add key="Mailing.Mail.From.Address" value="notificacioncorreo@hotmail.com"/>
  <add key="Mailing.Smtp.Host" value="smtp.live.com"/>
  <add key="Mailing.Smtp.Port" value="587"/>
  <add key="Mailing.Smtp.Credentials.UserName" value="notificacioncorreo@hotmail.com"/>
  <add key="Mailing.Smtp.Credentials.Password" value="abcDEF123*"/>
  <add key="Mailing.Smtp.EnableSsl" value="true"/>
  <add key="Mailing.Smtp.UseDefaultCredentials" value="false"/>

  <!--SERVER-->
  <add key="Server" value="http://localhost:55371/"/>
</appSettings>